In [1]:
import pandas as pd
import numpy as np

Матрица попарных сравнений критериев.

In [2]:
criterion = {"Цель": ["K1", "K2", "K3", "K4", "K5", "K6", "Sum Si"],
             "K1": [1, 0.33, 0.14, 0.13, 0.25, 0.11, 1.96],
             "K2": [3, 1, 0.5, 0.33, 0.25, 0.14, 5.23],
             "K3": [7, 2, 1, 0.5, 4, 0.17, 14.67],
             "K4": [8, 3, 2, 1, 4, 0.33, 18.33],
             "K5": [4, 4, 0.25, 0.25, 1, 0.14, 9.64],
             "K6": [9, 7, 6, 3, 7, 1, 33],
             "Vi": [4.2684, 1.9560, 0.7736, 0.5, 1.3831, 0.2239, 9.1050],
             "W2i": [0.4688, 0.2148, 0.0850, 0.0549, 0.1519, 0.0246, 0],
             "Pi": [0.9199, 1.1227, 1.2461, 1.0068, 1.4648, 0.8115, 6.5718]}

cri = pd.DataFrame(data=criterion)

In [3]:
cri

     Цель    K1    K2     K3     K4    K5  K6      Vi     W2i      Pi
0      K1  1.00  3.00   7.00   8.00  4.00   9  4.2684  0.4688  0.9199
1      K2  0.33  1.00   2.00   3.00  4.00   7  1.9560  0.2148  1.1227
2      K3  0.14  0.50   1.00   2.00  0.25   6  0.7736  0.0850  1.2461
3      K4  0.13  0.33   0.50   1.00  0.25   3  0.5000  0.0549  1.0068
4      K5  0.25  0.25   4.00   4.00  1.00   7  1.3831  0.1519  1.4648
5      K6  0.11  0.14   0.17   0.33  0.14   1  0.2239  0.0246  0.8115
6  Sum Si  1.96  5.23  14.67  18.33  9.64  33  9.1050  0.0000  6.5718

In [54]:
string = list(criterion.keys())
values = list(criterion.values())
print(values)

[['K1', 'K2', 'K3', 'K4', 'K5', 'K6', 'Sum Si'], [1, 0.33, 0.14, 0.13, 0.25, 0.11, 1.96], [3, 1, 0.5, 0.33, 0.25, 0.14, 5.23], [7, 2, 1, 0.5, 4, 0.17, 14.67], [8, 3, 2, 1, 4, 0.33, 18.33], [4, 4, 0.25, 0.25, 1, 0.14, 9.64], [9, 7, 6, 3, 7, 1, 33], [4.2684, 1.956, 0.7736, 0.5, 1.3831, 0.2239, 9.105], [0.4688, 0.2148, 0.085, 0.0549, 0.1519, 0.0246, 0], [0.9199, 1.1227, 1.2461, 1.0068, 1.4648, 0.8115, 6.5718]]

In [55]:
V = []

for i in range(1, 7):
    val_list = values[i]
    Vi = 1
    for j in range(0, 6):
        Vi *= (1/val_list[j])
    Vi = round(pow(Vi, 1/6), 4)
    V.append(Vi)
    values[7] = V

values[7].append(round(sum(V), 4))
    
        
print(values)

[['K1', 'K2', 'K3', 'K4', 'K5', 'K6', 'Sum Si'], [1, 0.33, 0.14, 0.13, 0.25, 0.11, 1.96], [3, 1, 0.5, 0.33, 0.25, 0.14, 5.23], [7, 2, 1, 0.5, 4, 0.17, 14.67], [8, 3, 2, 1, 4, 0.33, 18.33], [4, 4, 0.25, 0.25, 1, 0.14, 9.64], [9, 7, 6, 3, 7, 1, 33], [4.2692, 1.9659, 0.771, 0.5008, 1.3878, 0.2239, 9.1186], [0.4688, 0.2148, 0.085, 0.0549, 0.1519, 0.0246, 0], [0.9199, 1.1227, 1.2461, 1.0068, 1.4648, 0.8115, 6.5718]]

Wi

In [56]:
W = []


val_list = values[7]
Wi = 1
for j in range(0, 6):
    Wi = (val_list[j]/val_list[6])
    
    Wi = round((Wi), 4)
    W.append(Wi)
    
values[8] = W

print(values[8])

[0.4682, 0.2156, 0.0846, 0.0549, 0.1522, 0.0246]

Pi

In [57]:
Pi = []
Si = []
for i in range(1, 7):
    val_list = values[i]
    Si.append(val_list[6])


wi_list = values[8]
for j in range(0, 6):
    Pi.append(Si[j]*wi_list[j])

print(Pi)

[0.917672, 1.1275880000000003, 1.241082, 1.006317, 1.467208, 0.8118]

In [58]:
def lambda_max():
    pi_sum = values[9]
    print(pi_sum)
    lmbda_max = 0
    for i in range(0, 6):
        lmbda_max += pi_sum[i]
    return lmbda_max

In [59]:
print(lambda_max())

[0.9199, 1.1227, 1.2461, 1.0068, 1.4648, 0.8115, 6.5718]
6.5718000000000005

ИС

In [60]:
IS = (lambda_max() - 6)/(5))

[0.9199, 1.1227, 1.2461, 1.0068, 1.4648, 0.8115, 6.5718]
0.1143600000000001

ОС

In [ ]:
print(IS/1.24)

Первая таблица критериев

In [61]:
criterion1 = {"Цель": ["A1", "A2", "A3", "A4", "A5", "A6", "A7", "A8", "A9", "A10", "Sum Si"],
             "A1": [1, 3, 0.33, 3, 0.33, 1, 2, 4, 0.33, 0.5, 15.5],
             "A2": [0.33, 1, 0.33, 2, 3, 0.5, 0.5, 3, 0.33, 0.5, 11.5],
             "A3": [3, 3, 1, 4, 0.5, 3, 3, 5, 0.33, 3, 25.83],
             "A4": [0.33, 0.5, 0.25, 1, 0.25, 0.33, 0.33, 3, 0.25, 0.33, 6.58],
             "A5": [3, 0.33, 2, 4, 1, 3, 3, 4, 0.33, 4, 24.67],
             "A6": [1, 2, 0.33, 3, 0.33, 1, 2, 3, 0.33, 2, 15],
             "A7": [0.5, 2, 0.33, 3, 0.33, 0.5, 1, 3, 0.25, 0.5, 11.42],
             "A8": [0.25, 0.33, 0.2, 0.33, 0.25, 0.33, 0.33, 1, 0.2, 0.25, 3.48],
             "A9": [3, 3, 3, 4, 3, 3, 4, 5, 1, 3, 32],
             "A10": [2, 2, 0.33, 3, 0.25, 0.5, 2, 4, 0.33, 1, 15.42],
             "Vi": [0.9716, 1.2821, 0.5119, 2.2587, 0.5515, 0.9066, 1.3195, 3.2453, 0.3337, 0.9716, 12.35],
             "W": [0.0787, 0.1038, 0.0414, 0.1829, 0.0446, 0.0734, 0.1068, 0.2627, 0.0270, 0.0787, 0],
             "Pi": [1.2192, 1.1936, 1.0705, 1.2038, 1.1013, 1.1009, 1.2195, 0.9152, 0.8646, 1.2127, 11.1012]}

cri1 = pd.DataFrame(data=criterion1)

In [62]:
cri1

,Цель,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Vi,W,Pi
0,A1,1.00,0.33,3.00,0.33,3.00,1.00,0.50,0.25,3,2.00,0.9716,0.0787,1.2192
1,A2,3.00,1.00,3.00,0.50,0.33,2.00,2.00,0.33,3,2.00,1.2821,0.1038,1.1936
2,A3,0.33,0.33,1.00,0.25,2.00,0.33,0.33,0.20,3,0.33,0.5119,0.0414,1.0705
3,A4,3.00,2.00,4.00,1.00,4.00,3.00,3.00,0.33,4,3.00,2.2587,0.1829,1.2038
4,A5,0.33,3.00,0.50,0.25,1.00,0.33,0.33,0.25,3,0.25,0.5515,0.0446,1.1013
5,A6,1.00,0.50,3.00,0.33,3.00,1.00,0.50,0.33,3,0.50,0.9066,0.0734,1.1009
6,A7,2.00,0.50,3.00,0.33,3.00,2.00,1.00,0.33,4,2.00,1.3195,0.1068,1.2195
7,A8,4.00,3.00,5.00,3.00,4.00,3.00,3.00,1.00,5,4.00,3.2453,0.2627,0.9152
8,A9,0.33,0.33,0.33,0.25,0.33,0.33,0.25,0.20,1,0.33,0.3337,0.0270,0.8646
9,A10,0.50,0.50,3.00,0.33,4.00,2.00,0.50,0.25,3,1.00,0.9716,0.0787,1.2127
10,Sum Si,15.50,11.50,25.83,6.58,24.67,15.00,11.42,3.48,32,15.42,12.3500,0.0000,11.1012

In [63]:
string = list(criterion1.keys())
values = list(criterion1.values())
print(values)

[['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10', 'Sum Si'], [1, 3, 0.33, 3, 0.33, 1, 2, 4, 0.33, 0.5, 15.5], [0.33, 1, 0.33, 2, 3, 0.5, 0.5, 3, 0.33, 0.5, 11.5], [3, 3, 1, 4, 0.5, 3, 3, 5, 0.33, 3, 25.83], [0.33, 0.5, 0.25, 1, 0.25, 0.33, 0.33, 3, 0.25, 0.33, 6.58], [3, 0.33, 2, 4, 1, 3, 3, 4, 0.33, 4, 24.67], [1, 2, 0.33, 3, 0.33, 1, 2, 3, 0.33, 2, 15], [0.5, 2, 0.33, 3, 0.33, 0.5, 1, 3, 0.25, 0.5, 11.42], [0.25, 0.33, 0.2, 0.33, 0.25, 0.33, 0.33, 1, 0.2, 0.25, 3.48], [3, 3, 3, 4, 3, 3, 4, 5, 1, 3, 32], [2, 2, 0.33, 3, 0.25, 0.5, 2, 4, 0.33, 1, 15.42], [0.9716, 1.2821, 0.5119, 2.2587, 0.5515, 0.9066, 1.3195, 3.2453, 0.3337, 0.9716, 12.35], [0.0787, 0.1038, 0.0414, 0.1829, 0.0446, 0.0734, 0.1068, 0.2627, 0.027, 0.0787, 0], [1.2192, 1.1936, 1.0705, 1.2038, 1.1013, 1.1009, 1.2195, 0.9152, 0.8646, 1.2127, 11.1012]]

In [64]:
V = []

for i in range(1, 10):
    val_list = values[i]
    Vi = 1
    for j in range(0, 10):
        Vi *= (1/val_list[j])
    Vi = round(pow(Vi, 1/6), 4)
    V.append(Vi)
    values[10] = V

values[10].append(round(sum(V), 4))
    
        
print(values)

[['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10', 'Sum Si'], [1, 3, 0.33, 3, 0.33, 1, 2, 4, 0.33, 0.5, 15.5], [0.33, 1, 0.33, 2, 3, 0.5, 0.5, 3, 0.33, 0.5, 11.5], [3, 3, 1, 4, 0.5, 3, 3, 5, 0.33, 3, 25.83], [0.33, 0.5, 0.25, 1, 0.25, 0.33, 0.33, 3, 0.25, 0.33, 6.58], [3, 0.33, 2, 4, 1, 3, 3, 4, 0.33, 4, 24.67], [1, 2, 0.33, 3, 0.33, 1, 2, 3, 0.33, 2, 15], [0.5, 2, 0.33, 3, 0.33, 0.5, 1, 3, 0.25, 0.5, 11.42], [0.25, 0.33, 0.2, 0.33, 0.25, 0.33, 0.33, 1, 0.2, 0.25, 3.48], [3, 3, 3, 4, 3, 3, 4, 5, 1, 3, 32], [0.958, 1.5207, 0.3281, 3.9145, 0.3722, 0.8535, 1.5927, 7.1616, 0.1606, 16.8619], [0.9716, 1.2821, 0.5119, 2.2587, 0.5515, 0.9066, 1.3195, 3.2453, 0.3337, 0.9716, 12.35], [0.0787, 0.1038, 0.0414, 0.1829, 0.0446, 0.0734, 0.1068, 0.2627, 0.027, 0.0787, 0], [1.2192, 1.1936, 1.0705, 1.2038, 1.1013, 1.1009, 1.2195, 0.9152, 0.8646, 1.2127, 11.1012]]

In [65]:
W = []


val_list = values[10]
Wi = 1
for j in range(0, 9):
    Wi = (val_list[j]/val_list[6])
    
    Wi = round((Wi), 4)
    W.append(Wi)
    
values[11] = W

print(values[11])

[0.6015, 0.9548, 0.206, 2.4578, 0.2337, 0.5359, 1.0, 4.4965, 0.1008]

Криетрий 2

In [66]:
criterion2 = {"Цель": ["A1", "A2", "A3", "A4", "A5", "A6", "A7", "A8", "A9", "A10", "Sum Si"],             
             "A1": [1, 0.5, 0.33, 4, 6, 4, 5, 6, 3, 4, 33.83],
             "A2": [2, 1, 0.17, 4, 3, 2, 2, 3, 2, 3, 22.17],
             "A3": [3, 6, 1, 9, 7, 5, 6, 8, 2, 2, 49],
             "A4": [0.25, 0.25, 0.11, 1, 0.33, 0.5, 0.33, 0.33, 0.5, 0.5, 4.11],
             "A5": [0.17, 0.33, 0.14, 3, 1, 0.5, 0.5, 0.33, 0.25, 0.5, 6.73],
             "A6": [0.25, 0.5, 0.17, 3, 2, 0.5, 1, 2, 0.5, 0.5, 11.95],
             "A7": [0.2, 0.5, 0.17, 3, 2, 0.5, 1, 2, 0.5, 0.5, 10.37],
             "A8": [0.17, 0.33, 0.13, 3, 3, 0.33, 0.5, 1, 0.25, 0.33, 9.04],
             "A9": [0.33, 0.5, 0.5, 2, 4, 2, 2, 4, 1, 3, 19.33],
             "A10": [0.25, 0.33, 0.5, 2, 2, 2, 2, 3, 0.33, 1, 13.42],
             "Vi": [0.4207, 0.5676, 0.2491, 2.8137, 2.2938, 1.2089, 1.4461, 2.0237, 0.7071, 1.0414, 12.77],
             "W": [0.0329, 0.0444, 0.0195, 0.2203, 0.1796, 0.0947, 0.1132, 0.1585, 0.0554, 0.0815, 0],
             "Pi": [1.1146, 0.9853, 0.9557, 0.9058, 1.2082, 1.1313, 1.1740, 1.4329, 1.0705, 1.0941, 11.0723]}

cri2 = pd.DataFrame(data=criterion2)

Критерий 3

In [67]:
criterion3 = {"Цель": ["A1", "A2", "A3", "A4", "A5", "A6", "A7", "A8", "A9", "A10", "Sum Si"],
              "A1": [1, 3, 0.33, 2, 0.33, 3, 4, 4, 0.2, 3, 20.87],
              "A2": [0.33, 1, 0.25, 0.33, 0.25, 0.5, 2, 0.5, 0.25, 2, 7.42],
              "A3": [3, 4, 1, 3, 4, 4, 4, 5, 1, 5, 34],
              "A4": [0.5, 3, 0.33, 1, 0.5, 5, 3, 4, 0.33, 3, 20.67],
              "A5": [3, 4, 0.25, 2, 1, 4, 5, 4, 0.33, 5, 28.58],
              "A6": [0.33, 2, 0.25, 0.2, 0.25, 1, 3, 3, 0.33, 3, 13.37],
              "A7": [0.25, 0.5, 0.25, 0.33, 0.14, 0.33, 1, 2, 5, 0.5, 10.31],
              "A8": [0.25, 2, 0.2, 0.25, 0.25, 0.33, 0.5, 1, 0.33, 2, 7.12],
              "A9": [5, 4, 1, 3, 3, 3, 0.2, 3, 1, 3, 26.20],
              "A10": [0.33, 0.5, 0.2, 0.33, 0.2, 0.33, 2, 0.5, 0.33, 1, 5.73],
              "Vi": [0.7442, 1.8882, 0.3342, 0.7628, 0.4955, 1.2957, 1.7617, 2.0694, 0.5026, 2.2948, 12.149],
              "W": [0.0572, 0.145, 0.0257, 0.0586, 0.0381, 0.0995, 0.1353, 0.1589, 0.0386, 0.1763, 0],
              "Pi": [1.1926, 1.0756, 0.8726, 1.2107, 1.0879, 1.3302, 1.395, 1.1311, 1.0114, 1.0105, 11.3176]
}

cri3 = pd.DataFrame(data=criterion3)

Критерий 4

In [68]:
criterion4 = {"Цель": ["A1", "A2", "A3", "A4", "A5", "A6", "A7", "A8", "A9", "A10", "Sum Si"],
              "A1":[1, 0.33, 4, 5, 2, 3, 0.25, 4, 6, 8, 33.58],
              "A2":[3, 1, 4, 3, 2, 4, 0.33, 1, 5, 7, 30.33],
              "A3":[0.25, 0.25, 1, 0.5, 0.33, 0.33, 0.2, 0.25, 2, 4, 9.12],
              "A4":[0.2, 0.33, 2, 1, 0.33, 0.5, 0.25, 0.33, 3, 5, 12.95],
              "A5":[0.5, 0.5, 3, 3, 1, 2, 5, 0.5, 3, 5, 23.5],
              "A6":[0.33, 0.25, 3, 2, 0.5, 1, 0.33, 0.5, 3, 9, 19.92],
              "A7":[4, 3, 5, 4, 3, 3, 1, 2, 6, 7, 38],
              "A8":[0.25, 1, 4, 3, 2, 2, 0.5, 1, 4, 6, 23.75],
              "A9":[0.17, 0.2, 0.5, 0.33, 0.33, 0.33, 0.17, 0.25, 1, 3, 6.28],
              "A10":[0.13, 0.14, 0.25, 0.2, 0.2, 0.11, 0.14, 0.17, 0.33, 1, 2.67],
              "Vi":[0.4695, 0.444, 1.9308, 1.4310, 0.785, 0.9883, 0.3906, 0.6084, 2.5779, 4.7894, 14.41],
              "W":[0.0326, 0.0308, 0.134, 0.0993, 0.0545, 0.0686, 0.0271, 0.0422, 0.1789, 0.3324, 0],
              "Pi":[1.0943, 0.9346, 1.2215, 1.2860, 1.2802, 1.3660, 1.0027, 1.1241, 0.8880, 11.2274]
}

cri4 = pd.DataFrame(data=criterion4)

ValueError: arrays must all be same length

Критерий 5

In [ ]:
criterion5 = {"Цель": ["A1", "A2", "A3", "A4", "A5", "A6", "A7", "A8", "A9", "A10", "Sum Si"],
              "A1": [1, 2, 0.33, 0.33, 0.33, 2, 0.33, 0.5, 1, 2, 9.83],
              "A2": [0.5, 1, 0.2, 0.2, 2, 0.5, 0.25, 0.33, 0.5, 0.5, 5.98],
              "A3": [3, 5, 1, 1, 3, 3, 1, 2, 3, 3, 25],
              "A4": [3, 5, 1, 1, 3, 3, 2, 2, 3, 4, 27],
              "A5": [3, 0.5, 0.33, 0.33, 1, 1, 5, 0.5, 1, 5, 17.67],
              "A6": [0.5, 2, 0.33, 0.33, 1, 1, 0.25, 0.25, 0.33, 0.33, 6.33],
              "A7": [3, 4, 1, 0.5, 3, 4, 1, 2, 3, 2, 23.5],
              "A8": [2, 3, 0.5, 0.5, 2, 4, 0.5, 1, 4, 3, 20.5],
              "A9": [1, 2, 0.33, 0.33, 1, 3, 0.33, 0.25, 1, 1, 10.25],
              "A10": [0.5, 2, 0.33, 0.25, 1, 3, 0.5, 0.33, 1, 1, 9.92],
              "Vi": [1.351, 2.1778, 0.4586, 0.4158, 1.431, 2.0477, 0.6667, 0.6520, 1.3351, 1.6141, 12.1497],
              "W": [0.0938, 0.1511, 0.0318, 0.0289, 0.0993, 0.1421, 0.0463, 0.0452, 0.0927, 0.1120, 0],
              "Pi": [0.9219, 0.9043, 0.7956, 0.779, 1.7544, 0.9, 1.0873, 0.9276, 0.9497, 1.1108, 10.1305]
              }

cri5 = pd.DataFrame(data=criterion5)

Критерий 6

In [ ]:
criterion6 = {"Цель": ["A1", "A2", "A3", "A4", "A5", "A6", "A7", "A8", "A9", "A10", "Sum Si"],
              "A1": [1, 1, 0.33, 7, 3, 6, 7, 6, 3, 2, 36.33],
              "A2": [1, 1, 0.5, 7, 2, 6, 7, 6, 3, 2, 35.5],
              "A3": [3, 2, 1, 8, 4, 8, 7, 8, 5, 4, 50],
              "A4": [0.14, 0.14, 0.13, 1, 0.33, 0.5, 1, 0.5, 0.33, 0.25, 4.33],
              "A5": [0.33, 0.5, 0.25, 3, 1, 3, 5, 3, 0.5, 5, 21.58],
              "A6": [0.17, 0.17, 0.13, 2, 0.33, 1, 2, 1, 0.5, 0.33, 7.63],
              "A7": [0.14, 0.14, 0.14, 1, 0.25, 0.5, 1, 0.5, 0.33, 0.25, 4.26],
              "A8": [0.17, 0.17, 0.13, 2, 0.33, 1, 2, 1, 0.5, 0.33, 7.63],
              "A9": [0.33, 0.33, 0.2, 3, 2, 2, 3, 2, 1, 0.5, 14.37],
              "A10": [0.5, 0.5, 0.25, 4, 3, 3, 4, 3, 2, 1, 21.25],
              "Vi": [0.3959, 0.3959, 0.2379, 2.9865, 1.0292, 2.0477, 3.1013, 2.0477, 1.0226, 0.8798, 14.1444],
              "W": [0.0275, 0.0275, 0.0165, 0.2073, 0.0714, 0.1421, 0.2152, 0.1421, 0.0710, 0.0611, 0],
              "Pi": [0.9981, 0.9752, 0.8256, 0.8969, 1.5415, 1.0835, 0.9173, 1.0835, 1.0195, 1.2974, 10.6384]}


cri6 = pd.DataFrame(data=criterion6)

In [ ]:
data = {"Название":["СПбГЭТУ «ЛЭТИ»", "РХТУ им. Д. И. Менделеева", "СЗИУ РАНХиГС", "УрФУ", "НИТУ «МИСиС»", "МГТУ им. Баумана", "КФУ", "СФУ",
                    "НИУ ВШЭ", "РТУ МИРЭА"], 
        "Баллы ЕГЭ, бюджет, min":[10, 10, 15, 10, 15, 10, 10, 5, 15, 10], 
        "Количество бюджетных мест, max":[5, 5, 5, 15, 15, 15, 15, 15, 10, 15],
        "Баллы ЕГЭ, платное, min":[10, 5, 15, 10, 15, 5, 5, 5, 15, 5], 
        "Количество платных мест, max":[10, 5, 10, 10, 10, 10, 5, 5, 15, 15],
        "Отзывы студентов, в 10-ти балной шкале, max":[5, 10, 2, 2, 10, 10, 5, 5, 5, 10], 
        "Количесво образовательных программ, max":[3, 3, 3, 8, 5, 5, 8, 8, 3, 3]
    }
    
df = pd.DataFrame(data=data)