Лабораторная работа №1
"Метод Парето"

In [1]:
import numpy as np
import pandas as pd

In [39]:
data = {"Название":["СПбГЭТУ «ЛЭТИ»", "РХТУ им. Д. И. Менделеева", "СЗИУ РАНХиГС", "УрФУ", "НИТУ «МИСиС»", "МГТУ им. Баумана", "КФУ", "СФУ",
                    "НИУ ВШЭ", "РТУ МИРЭА"], 
        "Баллы ЕГЭ, бюджет":[78, 71, 86, 67, 87, 78, 75, 61, 94, 79], 
        "Количество бюджетных мест":[1620, 1571, 286, 6104, 3905, 3419, 3488, 4331, 2553, 3005],
        "Баллы ЕГЭ, платное":[53.8, 37.6, 79, 50.3, 62, 43, 36, 42, 79, 37], 
        "Количество платных мест":[5200, 4300, 8000, 7300, 5400, 6700, 3200, 4350, 9000, 14500],
        "Отзывы студентов, в 10-ти балной шкале":[6.5, 7.1, 4.1, 4, 7.3, 7.2, 4.6, 5, 6.3, 6.9], 
        "Количесво образовательных программ":[30, 31, 19, 149, 69, 100, 140, 108, 62, 51]
    }

df = pd.DataFrame(data=data)

In [40]:
type(data)

dict

In [41]:
df

,Название,"Баллы ЕГЭ, бюджет",Количество бюджетных мест,"Баллы ЕГЭ, платное",Количество платных мест,"Отзывы студентов, в 10-ти балной шкале",Количесво образовательных программ
0,СПбГЭТУ «ЛЭТИ»,78,1620,53.8,5200,6.5,30
1,РХТУ им. Д. И. Менделеева,71,1571,37.6,4300,7.1,31
2,СЗИУ РАНХиГС,86,286,79.0,8000,4.1,19
3,УрФУ,67,6104,50.3,7300,4.0,149
4,НИТУ «МИСиС»,87,3905,62.0,5400,7.3,69
5,МГТУ им. Баумана,78,3419,43.0,6700,7.2,100
6,КФУ,75,3488,36.0,3200,4.6,140
7,СФУ,61,4331,42.0,4350,5.0,108
8,НИУ ВШЭ,94,2553,79.0,9000,6.3,62
9,РТУ МИРЭА,79,3005,37.0,14500,6.9,51

Первый подход. Для заданной многокриетериальной задачи оптимизации находится множество её Парето-оптимальных решений, а выбор конкретного оптимального варианта из множества Парето-оптимальных предоставляется ЛПР.

In [42]:
string = list(data.keys())


w, h = 10, 10
new_data = [['X' for x in range(w)] for y in range(h)]

In [43]:
new_data

[['X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X'],
 ['X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X'],
 ['X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X'],
 ['X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X'],
 ['X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X'],
 ['X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X'],
 ['X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X'],
 ['X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X'],
 ['X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X'],
 ['X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X']]

In [53]:
def pareto_search(j):
    str_input = string[j]
    criteron_1 = 0
    criteron_2 = 0
    print("Критерий: {0}".format(str_input))
    if criteron_1 == 0 or criteron_2 == 0:
        if str_input == "Баллы ЕГЭ, бюджет" or str_input == "Баллы ЕГЭ, платное":
            if data[str_input][i] < data[str_input][i+1]:
                print("Сравниваем вузы №{0} и №{1}".format(i, i + 1))
                print("В этом критерии вуз №{0} лучше".format(i))
                criteron_1 += 1
                j += 1
            else:
                print("Сравниваем вузы №{0} и №{1}".format(i, i + 1))
                print("В этом критерии вуз №{0} лучше".format(i + 1))
                criteron_2 += 1
                j += 1
                
        else:
            if data[str_input][i] > data[str_input][i+1]:
                print("Сравниваем вузы №{0} и №{1}".format(i, i + 1))
                print("В этом критерии вуз №{0} лучше".format(i))
                criteron_1 += 1
                j += 1
                
            else:
                print("Сравниваем вузы №{0} и №{1}".format(i, i + 1))
                print("В этом критерии вуз №{0} лучше".format(i + 1))
                criteron_2 += 1
                j += 1

    else:
        new_data[j][i+1] = 'H'

In [54]:
for i in range(0, 5):    
    for j in range(1, 7):
        pareto_search(j)

Критерий: Баллы ЕГЭ, бюджет
Сравниваем вузы №0 и №1
В этом критерии вуз №1 лучше
Критерий: Количество бюджетных мест
Сравниваем вузы №0 и №1
В этом критерии вуз №0 лучше
Критерий: Баллы ЕГЭ, платное
Сравниваем вузы №0 и №1
В этом критерии вуз №1 лучше
Критерий: Количество платных мест
Сравниваем вузы №0 и №1
В этом критерии вуз №0 лучше
Критерий: Отзывы студентов, в 10-ти балной шкале
Сравниваем вузы №0 и №1
В этом критерии вуз №1 лучше
Критерий: Количесво образовательных программ
Сравниваем вузы №0 и №1
В этом критерии вуз №1 лучше
Критерий: Баллы ЕГЭ, бюджет
Сравниваем вузы №1 и №2
В этом критерии вуз №1 лучше
Критерий: Количество бюджетных мест
Сравниваем вузы №1 и №2
В этом критерии вуз №1 лучше
Критерий: Баллы ЕГЭ, платное
Сравниваем вузы №1 и №2
В этом критерии вуз №1 лучше
Критерий: Количество платных мест
Сравниваем вузы №1 и №2
В этом критерии вуз №2 лучше
Критерий: Отзывы студентов, в 10-ти балной шкале
Сравниваем вузы №1 и №2
В этом критерии вуз №1 лучше
Критерий: Количесво образовательных программ
Сравниваем вузы №1 и №2
В этом критерии вуз №1 лучше
Критерий: Баллы ЕГЭ, бюджет
Сравниваем вузы №2 и №3
В этом критерии вуз №3 лучше
Критерий: Количество бюджетных мест
Сравниваем вузы №2 и №3
В этом критерии вуз №3 лучше
Критерий: Баллы ЕГЭ, платное
Сравниваем вузы №2 и №3
В этом критерии вуз №3 лучше
Критерий: Количество платных мест
Сравниваем вузы №2 и №3
В этом критерии вуз №2 лучше
Критерий: Отзывы студентов, в 10-ти балной шкале
Сравниваем вузы №2 и №3
В этом критерии вуз №2 лучше
Критерий: Количесво образовательных программ
Сравниваем вузы №2 и №3
В этом критерии вуз №3 лучше
Критерий: Баллы ЕГЭ, бюджет
Сравниваем вузы №3 и №4
В этом критерии вуз №3 лучше
Критерий: Количество бюджетных мест
Сравниваем вузы №3 и №4
В этом критерии вуз №3 лучше
Критерий: Баллы ЕГЭ, платное
Сравниваем вузы №3 и №4
В этом критерии вуз №3 лучше
Критерий: Количество платных мест
Сравниваем вузы №3 и №4
В этом критерии вуз №3 лучше
Критерий: Отзывы студентов, в 10-ти балной шкале
Сравниваем вузы №3 и №4
В этом критерии вуз №4 лучше
Критерий: Количесво образовательных программ
Сравниваем вузы №3 и №4
В этом критерии вуз №3 лучше
Критерий: Баллы ЕГЭ, бюджет
Сравниваем вузы №4 и №5
В этом критерии вуз №5 лучше
Критерий: Количество бюджетных мест
Сравниваем вузы №4 и №5
В этом критерии вуз №4 лучше
Критерий: Баллы ЕГЭ, платное
Сравниваем вузы №4 и №5
В этом критерии вуз №5 лучше
Критерий: Количество платных мест
Сравниваем вузы №4 и №5
В этом критерии вуз №5 лучше
Критерий: Отзывы студентов, в 10-ти балной шкале
Сравниваем вузы №4 и №5
В этом критерии вуз №4 лучше
Критерий: Количесво образовательных программ
Сравниваем вузы №4 и №5
В этом критерии вуз №5 лучше

In [55]:
new_data

[['X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X'],
 ['X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X'],
 ['X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X'],
 ['X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X'],
 ['X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X'],
 ['X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X'],
 ['X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X'],
 ['X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X'],
 ['X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X'],
 ['X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X', 'X']]

In [8]:

'''
def pareto_search(str_input):
    
    for i in range(0, 9):
        if string[j] == "Баллы ЕГЭ, бюджет" or string[j] == "Баллы ЕГЭ, платное":
            if data[str_input][i] < data[str_input][i+1]:
                print("Номера {0} и {1} подходят для дальнейшего рассмотрения".format(i, i + 1))
                str_input = string[j + 1]
                print("Перейдем к следующему критерию:{}".format(str_input))
                pareto_search(str_input)
            else:
                print("Номера {0} и {1} не подходят для дальнейшего рассмотрения".format(i, i + 1))
        else:
            if data[str_input][i] > data[str_input][i+1]:
                print("Номера {0} и {1} подходят для дальнейшего рассмотрения".format(i, i + 1))
                str_input = string[j + 1]
                print("Перейдем к следующему критерию:{}".format(str_input))
                pareto_search(str_input)
            else:
                print("Номера {0} и {1} не подходят для дальнейшего рассмотрения".format(i, i + 1))
'''

Сравним значения по столбцам

In [7]:
df[['Баллы ЕГЭ, бюджет']].idxmin()

Баллы ЕГЭ, бюджет    7
dtype: int64

Зададим верхние и нижние границы критериев. Верхняя граница: баллы ЕГЭ - не более 80, количетсво платных мест - не менее 7000. Тогда таблица будет выглдяить следующим образом.

In [15]:
new_df = df.loc[(df['Баллы ЕГЭ, бюджет'] <= 80) & (df['Количество платных мест'] >= 7000)]

In [16]:
new_df

,Название,"Баллы ЕГЭ, бюджет",Количество бюджетных мест,"Баллы ЕГЭ, платное",Количество платных мест,"Отзывы студентов, в 10-ти балной шкале",Количесво образовательных программ
3,УрФУ,67,6104,50.3,7300,4.0,149
9,РТУ МИРЭА,79,3005,37.0,14500,6.9,51

Субоптимизация

Пусть в примере главным критерием выступает балл по ЕГЭ на бюджете, ограничения: количество бюджетных мест: не меньше 3000, баллы ЕГЭ, платное: не выше 45, количество платных мест: не меньше 4000, отзывы студентов по 10-бальной шкале: не ниже 6.5, количество образовательных программ: не меньше 50.

In [19]:
new_df = df.loc[(df['Количество бюджетных мест'] >= 3000) & (df['Баллы ЕГЭ, платное'] <= 45) & (df['Количество платных мест'] >= 4000) & (df['Отзывы студентов, в 10-ти балной шкале'] >= 6.5) & (df['Количесво образовательных программ'] >= 50)]
new_df

,Название,"Баллы ЕГЭ, бюджет",Количество бюджетных мест,"Баллы ЕГЭ, платное",Количество платных мест,"Отзывы студентов, в 10-ти балной шкале",Количесво образовательных программ
5,МГТУ им. Баумана,78,3419,43.0,6700,7.2,100
9,РТУ МИРЭА,79,3005,37.0,14500,6.9,51

Лексикографическая оптимизация